* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background: #333333;
    color: lightblue;
    font-size: 14px;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2em 0;
    background-color: #444444;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 1.4em;
}

main {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: center;
    background-color: #444444;
    padding: 2em 0;
}

aside {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

article {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    border: #222222 solid 1px;
    padding: 1em 1.4em;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.8em;
}

li {
    list-style: none;
}

a {
    color: navajowhite;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0.5em 0;
}

.footer-links a {
    font-size: 1.2em;
}